<div class="filter-background row">
  <div *ngIf="filterBtns">
    <div class="col-d-12 col-t-12">
      <h3 class="filter-header">Filters</h3>
    </div>
    <div class="col-d-12 col-t-12 d-flex-label">
      <label class="btn-labels">Launch Year</label>
    </div>

    <div class="year-btn-container">
      <div
        class="col-d-12 col-t-12 d-flex-btn button-year"
        *ngFor="let year of years; let index = index"
      >
        <input
          (change)="filterChanged($event.target.value, 'year')"
          value="{{ year.yearOne }}"
          id="year{{ year.yearOne }}"
          type="radio"
          name="yearRadio"
        />
        <label name="yearRadioLabel" for="year{{ year.yearOne }}">{{
          year.yearOne
        }}</label>

        <input
          *ngIf="year.yearTwo.length > 0"
          id="year{{ year.yearTwo }}"
          type="radio"
          name="yearRadio"
          value="{{ year.yearTwo }}"
          (change)="filterChanged($event.target.value, 'year')"
        />
        <label *ngIf="year.yearTwo.length > 0" for="year{{ year.yearTwo }}">
          {{ year.yearTwo }}</label
        >
      </div>
    </div>

    <div class="col-d-12 col-t-12 d-flex-label">
      <label class="btn-labels">Successful Launch</label>
    </div>
    <div
      class="col-d-12 col-t-12 d-flex-btn btn-success-container button-launch"
    >
      <input
        value="true"
        (change)="filterChanged($event.target.value, 'launch')"
        id="year_launch_true"
        type="radio"
        name="successLaunch"
      />
      <label for="year_launch_true">True</label>

      <input
        value="false"
        (change)="filterChanged($event.target.value, 'launch')"
        id="year_launch_false"
        type="radio"
        name="successLaunch"
      />
      <label for="year_launch_false">False</label>
    </div>

    <div class="col-d-12 col-t-12 d-flex-label">
      <label class="btn-labels">Successful Landing</label>
    </div>
    <div class="col-d-12 col-t-12 d-flex-btn btn-success-container button-land">
      <input
        value="true"
        (change)="filterChanged($event.target.value, 'land')"
        id="year_land_true"
        type="radio"
        name="successLand"
      />
      <label for="year_land_true">True</label>

      <input
        value="false"
        (change)="filterChanged($event.target.value, 'land')"
        id="year_land_false"
        type="radio"
        name="successLand"
      />
      <label for="year_land_false">False</label>
    </div>
  </div>

  <div class="col-d-12 reset-btn-container col-t-12">
    <button
      class="reset-btn reset-btn-padding"
      type="button"
      (click)="resetFilter()"
    >
      Reset Filter
    </button>
  </div>
</div>
